include ./mixins
.about-wrapper
  .about-container.container
    .about-row.row
      article.about.col-xs-12.col-md-8.col-md-push-2.col-lg-6.col-lg-push-3
        .left
          img(src='http://www.gravatar.com/avatar/9e2a4dace8df842754b664863d95e2a3?s=160',height=160,width=160)
          //img(src='http://www.gravatar.com/avatar/9e2a4dace8df842754b664863d95e2a3?d=wavatar&s=160&f=y')
          //img(src='http://www.gravatar.com/avatar/9e2a4dace8df842754b664863d95e2a3?d=identicon&s=160&f=y')
          //img(src='http://www.gravatar.com/avatar/9e2a4dace8df842754b664863d95e2a3?d=monsterid&s=160&f=y')
          +SocialLinks()
        .right
          h1.about-heading About me
          p.
            I'm a software engineer working in San Francisco.
      //end .about
    //end .about-row
  //end .about-container
//end.about-wrapper