extends ./layout
block prepend title
    | Blog - 

block content
  .row
    +About()
  section.content.row
    .col-xs-12
      .row
        each article, idx in articles
          +PostThumb(article)
      .row
        +Paginator('page', prevPage, nextPage)
